body{
    background-image: url('Nne.jpg');
    background-repeat:repeat-x;
}

.containerbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
     h1  {text-transform: capitalize;
    font-family: fantasy,'Times New Roman', Times, serif;
    color: aqua;
   }
   .findoutbutton{
    background-color: rgb(240, 163, 21);
    border: 2px solid yellow;
    border-radius: 50px;
    color: white;
    position: relative;
    top: 60vh;
   }
   .webc{
    text-decoration: none;
    color: yellow;
    position: relative;
    top: 61vh;
    z-index: 1;
    text-align: center;
   }
   .links{
    display: none;
    background-color: aquamarine;
    box-shadow: 2px 0px 4px green, 2px 0px 4px green;
   }
   .webc:hover .links{
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 1;}
    .link{
    text-decoration: none;
    color: rgb(9, 12, 11);
    font-size: 150%;
   }