body{
    background-image: url('Nne.jpg');
    background-repeat:repeat;
    margin: 0;
}

.log{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    text-align: center;
}
.register{
    background-color: rgb(30, 238, 238);
    text-decoration: none;
    border-radius: 10px;
}
.login{
    background-color: blue;
    border-radius: 10px;
    color: beige;
}
.fn{
    margin: 20px 10px;
    height: 30px;
    width: 90px;
    box-shadow: 3px 3px 1px rgb(155, 26, 26), -3px -3px 1px rgb(93, 180, 21);
}
.lo{
    text-decoration: none;
    color: azure;
    padding-top: 18px;
}
article{
    text-align: center;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 6px;
    height: 50vh;
}
nav{
    background:linear-gradient(to right,lightblue,blue);
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    z-index: 1;
}
.containerbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
     h1  {text-transform: capitalize;
    font-family: fantasy,'Times New Roman', Times, serif;
    color: rgb(207, 28, 183);
   }
   .findoutbutton{
    background-color: rgb(240, 163, 21);
    border: 2px solid yellow;
    border-radius: 50px;
    color: white;
    position: relative;
    margin-top: 50%;
    padding-top: 30px;
    overflow: hidden;
    text-decoration: none;
    width: 70%;
    height: 80px;
    text-align: center;
    font-size: 200%;
   }
   @media screen and (min-width:800px) {
    body{
        margin: 2px;
    }
    .findoutbutton{
        margin-top: 20%;

    }
   }
   .webc{
    text-decoration: none;
    color: yellow;
    position: relative;
    top: 61vh;
   }
   #sidebar{
    background-color: rgb(67, 78, 78);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    transition:0.7s linear;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.9;
    z-index: 1;
}
   #drawtool{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
   }
   .toolchild{
    left: 10px;
    background-color: rgb(7, 14, 14);
    display: none;
    width: 90%;
    overflow: hidden;
    /* transition: 1s linear; */
   }
   ul{
    margin: 0px;
   }
   .back{
    background-color: rgb(239, 239, 247);
    position: relative;
    text-align: right;
    cursor: pointer;
    height: 10vh;
   }
   .drawUpandDown{
    display: block;
   }
   #upD{
    font-size: 25px;
    color: rgb(252, 247, 247);
   }
   #opt{
    font-size: 60px;
    cursor: pointer;
   }
   #home{
    font-size: 60px;
    font-weight: 100px;
    margin-left: 20px;
    color: rgb(8, 41, 70);
   }
   #back{
    font-size: 60px;
    font-weight: 100px;
    color: rgb(54, 48, 48);
   }
   #arts{
    margin:20px auto;
    height: 50px;
    width: 90vw;
   }