body{
    background-image: url('Nne.jpg');
    background-repeat:repeat-x;
    /* background-size: 100% 295%; */
}
.containerbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
     h1  {text-transform: capitalize;
    font-family: fantasy,'Times New Roman', Times, serif;
    color: aqua;
   }
   .findoutbutton{
    background-color: rgb(240, 163, 21);
    border: 2px solid yellow;
    border-radius: 50px;
    color: white;
   }
   #a1{
    position: relative;
    top: 60vh;
    overflow: hidden;
   }
   .webc{
    text-decoration: none;
    color: yellow;
    position: relative;
    top: 61vh;
   }
   #sidebar{
    background-color: rgb(67, 78, 78);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    transition:0.5s linear;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.9;
    z-index: 1;
}
   #drawtool{
    cursor: pointer;
   }
   .toolchild{
    left: 10px;
    background-color: rgb(7, 14, 14);
    display: none;
    width: 90%;
    overflow: hidden;
    /* transition: 1s linear; */
   }
   ul{
    margin: 0px;
   }
   .back{
    background-color: blue;
    position: relative;
    text-align: right;
    cursor: pointer;
   }
   .drawUpandDown{
    display: block;
   }
   #upD{
    text-align: right;
    font-size: 30px;
    display: inline;
    margin-left: 50%;
   }
   #opt{
    font-size: 60px;
    cursor: pointer;
   }
   #home{
    font-size: 27px;
     display: inline;
    margin-left: 20px;
   }
   #back{
    font-size: 60px;
   }