body{
    margin: 0;
    font-family:  sans-serif;
    width: 100%;
}

.sa:hover{
opacity: 0.7;
color: blue;
}
.opener{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px black;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    align-items: center;
}
.name{
    margin: 0;
    display: inline-block;
    font-size: 0.8rem;
   color: navy;
   line-height: 30px;
}
.id-container{
    display: flex;
    margin-left: 5px;
}

.logo{
   
    height: 30px;
    width: 40%;
    display: inline-block;
    
}

@media screen and (max-width:200px){
.logo{
    height: 15px;
    width: 20%;
    display: inline-block;
 }
 .name{
    line-height: 15px;
 }
}

@media screen and (min-width:273px){
    .name{
      font-size: 1.5rem;
    }
    .id-container{
        gap: 10px;
    }
}

.inner{
    font-size: 1rem;
}

/* .logo{
    height: 60px;
    width: 100%;
    margin-bottom: -15px;
} */
.logo-div{
    display: none;
}
.opts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height:60px;
   justify-content: center;
  }

  .opt{
    cursor: pointer;
    margin: 5px;
    background-color: black;
    height: 5px;
    width: 3rem;
    cursor: pointer;
    transition: 0.31s;
  }
  .change .n1{
    margin-top: 0px;
    transform:translateY(15px) rotate(45deg);
  
  }
  .n2{
    transition: 0.2s;
  }
  .change .n3{
    transform:translateY(-15px) rotate(-45deg);
  }
  .change .n2{
    opacity: 0;
    transition: 0.01s;
  }
  .open{
    display: flex;
    height: 100%;
  }

.img-bg img{
    max-width: 400px;
}
/* stop here */
section{
    transition: 1s;
}
nav{
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: sticky;
    top: 60px;
    gap: 20px;
    height: 100%;
    box-shadow: 2px 2px 2px black;
    background-color: white;
    opacity: 0.9;
    color: navy;
    z-index: 1;
}

.nav_btn{
    padding:0px 40px;
    margin: 20px;
    cursor: pointer;
    font-weight: 900;
}

@media screen and (min-width:820px){
    .logo-div{
        display: block;
    }
    .opener{
        display: none;
    }
    .open{
        height: 70px;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 0px;
        top: 0;
        height: 70px;

    }
    .nav_btn{
        margin:20px 0px;
        font-weight: 100;
    }
}

.nav_btn:hover{
    transform: scale(1.1);
}

h2{
    text-align: center;
}
.intro-h1{
    margin-top: 100px;
}
@media screen and (max-width:200px){
    img{
        width: 150px;
    }
}
.intro{
    text-align: center;
    margin: 10px 20px;
}
.my-name{
    color: navy;
}
.more-container{
    margin: 100px 1px;
}
.find-out-more{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 30px 0px;
    border: 5px solid navy;
    font-weight: 900;
    color: navy;
}
#services{
    display: grid;
    gap: 30px;
    margin-bottom: 60px;
}
.intro-article{
    padding: 10%;
    box-shadow: 3px 3px 10px black;
}
@media screen and (min-width:700px){

.intro{
        text-align: left;
        font-size: x-large;
    }  
.find-out-more:hover{
        background-color: navy;
        color: white;
        animation: more 0.1s linear 0s 1 ;
    }
@keyframes more {
        from{
           background-clip: content-box;
        }
        to{
            background-clip: border-box;
        }
    }
    #services{
        grid-template-columns:1fr 1fr;
    }
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: navy;
    line-height: 30px;
    padding: 30px;
    border-top: 20px solid transparent;
}
.about-me-h2{
    margin: 35px;
    text-align: center;
}
.about-me-wrapper{
    text-align: center;
    color: white;
    font-weight: 500;
    align-self: center;
    font-weight: 700;
}
.about-p{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: 1.5s;
}
.about-p:active{
    transform: skew(5deg,5deg);
}
.more-about{
    display: inline-block;
    padding: 15px;
    margin: 1px auto;
}
.about-me-wrapper img{
    display: block;
    margin: 20px 0px 0px 20px;
    border-radius: 5px;
}
#me{
    width: 60%;
    border-radius: 0%;
    box-shadow: 4px 4px 60px inset blue;
}
.resume-link{
    display: inline-block;
    margin-bottom: 5px;
    border: 5px solid white;
    padding: 10px;
    font-weight: 900;
    color: white;
    text-decoration: none;
}
@media screen and (min-width:700px) {
    .about-p:hover{
        transform: skew(5deg,5deg);
    }
    #me{
        width: 300px;
    }
    .about-me-wrapper{
        text-align: left;
    }
    
    .more-about{
        margin: auto;
        display: inline;
       
    }
    .about-me-wrapper img{
        width: 300px;
        height: inherit;
        float: right;
        transform:translate(50px,-20px) ;
        margin: 10px;
        padding: 20px;
    }
    .about-p{
        display: block;
        margin: 40px;
    }
    .resume-link-container{
        display: block;
        align-self: center;
    }
    .a-btn:hover{
        background-color: white;
        color: navy;
        animation: resume 0.6s ease 0s 1;
    }
   @keyframes resume {
    0%{
        background-clip: content-box;
    }
    50%{
        background-clip: padding-box;
    }
    100%{
        background-clip: border-box;
    }
   }
}
@media screen and (min-width:900px) {
    .about{
        clip-path:polygon(0 15vh,100% 0,100% 100%,0 100%);
    }
    .resume-link-container{
        margin: 0px;
    }
    .about{
        padding: 100px;
    }
}
@media screen and (min-width:1050px){
    .about{
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 0px;
    }
    .resume-link-container{
        transform:translate(0px,-20%);
        margin-left: 25px;
    }
   
}
@media screen and (min-width:1250px){
    .resume-link-container{
        transform:translate(0px,-80%);
    }
}
#project-view{
    margin-top: 30px;
    height: 20px;
}
.projects{
 padding: 25px;
 font-size: larger;
 line-height: 30px;
}


.projects h1{
    text-align: center;
}
.project-btns{
    display: flex;
    margin: 0px;
}
.visit-site{
    border-color: navy;
    padding:2px 10px;
    font-size:1rem;
    font-weight: 700;
    color:navy;
    background-color: white;
}

.source-code{

    color: navy;
    font-size: large ;
    font-weight: 700;
    border-width: 0px;
    background-color: white;
    margin-left: 3px;
}

.img-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
}
.img-container img{
    width:100%;
    height:100%;
    margin: 10px;
    margin-left: -14px;
}
.img-container:active{
    transform: skew(5deg,1deg);
}
a{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width:800px){
    /* .this-website{
        max-height: 500px;
    }*/
    
    .description-details{
        width: 50%;
    } 
    .description-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .project-btns{
        margin: 0px;
    }
    .source-code{
   margin-left: 20px;
    }
    .img-container{
        width: 50%;
        transition: 1.5s;
    }
    .img-container:hover{
        transform: skew(5deg,1deg);
    }
    .img-container > img{
       transform: translateY(-30px);
       width: 100%;
       margin-left: 10px;
    }
    .visit-site:hover{
        background-color: navy;
        color: white;
        animation: sites 0.3s ease 0s 1;
    }
   @keyframes sites {
    0%{
        background-clip: content-box;
    }
    50%{
        background-clip: padding-box;
    }
    100%{
        background-clip: border-box;
    }
   }
   .source-code:hover{
    transition: 0.5s;
    transform:translate(5px) ;
   }
}
@media screen and (min-width:1000px){
    .img-container img{
      width: 70%;
    }
    
}
.contact{
    background:navy;
    text-align: center;
    color: white;
    border-top: 30px solid transparent;
    clip-path:polygon(0 15%,100% 0,100% 100%,0 100%);
}
.email-link{
    display: inline-block;
    border: 3px solid white;
    font-size: 2rem;
    font-weight: 800;
    padding: 5px 15px;
    margin:20px 10px;
    text-decoration: none;
    color: white;
}
.email-link:hover{
    transform: scale(1.1);
    
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: grey;
    text-align: center;
  }
  #up{
    font-size:xx-large;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50px;
  }
  #up:hover{
    color: navy;
    margin-top: 10px;
    transform: scale(1.2) translateY(-12px);
    cursor: pointer;
    padding: auto 50%;
  }
  footer img {
    width: 30px;
    height: 30px;
  }
  footer a {
    margin: 5px;
  }
  @media screen and (min-width: 700px) {
    footer img {
      width: 50px;
      height: 50px;
    }
    footer a {
      margin: 20px;
    }
  }
  footer img:hover{
    transform: scale(1.2);
  }
 