:root{
    --border-radius: 10px;
    --main-color: rgb(11, 85, 245);
}

body{
    margin: 0;
    font-family:  monospace;
    width: 100%;
}

.starting-char{
    font-size: 48px;
    color: var(--main-color);
}

.important-h1{
    color: var(--main-color);
}

.sub-h1,
.sub-h2{
  color: var(--main-color);
}

.special-link:hover{
opacity: 0.7;
color: blue;
}
.opener{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 2px 2px 2px black; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    align-items: center;
    transition: 4s;
}

.id-container{
    display: flex;
    margin-left: 5px;
    align-content: center;
}

.logo{
    height: 50px;
    width: 100%;
    display: inline-block; 
}


.name{
    padding-top: 5px;
    margin: 0;
    display: inline-block;
    color: var(--main-color);
    line-height: 30px;
    max-width: 70vw;
    word-wrap: break-word;
    font-size: xx-large;
    font-family: cursive;
}

.services-img-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-img-container{
    display: flex;
    justify-content: center;
}

.services-img{
    width: 60%;
    height: 100px;
    object-fit: cover;
    border-radius: var(--border-radius);
    box-shadow: 2px 4px 2px var(--main-color);
}

 
.logo-div{
    display: none;
}
.opts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:40px;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--main-color);
    margin: 5px;
    padding: 1px 5px;
    border-radius: var(--border-radius);
  }

  .opts:hover{
    background-color: var(--main-color);
  }

  .opts:hover .opt{
    background-color: white;
  }

  .opt{
    margin: 3px;
    background-color: black;
    height: 3px;
    width: 30px;
    transition: 0.92s;
  }
.opt-bouncer .n1,
.opt-bouncer .n2,
.opt-bouncer .n2{
    animation: bouncer 0.4s ease-in-out 0s 2;
 }
  @keyframes bouncer {
    0%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
  
  .change .n1{
    margin-top: 0px;
    transform:translateY(7px) rotate(45deg);
  
  }
  .n2{
    transition: 0.32s;
  }
  .change .n3{
    transform:translateY(-11px) rotate(-45deg);
  }
  .change .n2{
    opacity: 0;
    transition: 0.01s;
  }
  .open{
    display: flex;
    height: 300px;
    border-bottom: 1px solid black;
    /* padding: 30px auto;
    background-color: var(--main-color); */
    justify-content: center;
  }

section{
    transition: 1s;
}


nav{
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: sticky;
    top: 50px;
    gap: 20px;
    height: 0;
    overflow: hidden;
    display: flex;
    opacity: 0.97;
    transition: 1s;
    z-index: 1;
    background-color: white;
}

.nav-btn-container{
 display: flex;
 flex-direction: column;
 margin:3px 3px;
 padding: 20px;
 width: 80%;
}

.nav-btn{
    padding:10px 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    /* width: 100%; */
    border-radius: var(--border-radius);
    color: var(--main-color);
}

@media screen and (min-width:820px){
    .logo-div{
        display: flex;
        gap: 10px;
    }
    .opener{
        display: none;
    }
    .open{
        height: 70px;
        justify-content: space-between;
    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 0px;
        top: 0;
        height: 70px;
    }
    .nav-btn{
        margin: 20px 0px;
        font-weight: 100;
        width: 100%;
    }
    .nav-btn-container{
        padding: auto;
        flex-direction: row;
        width: auto;
    }
}

.nav-btn:hover{
    font-weight: 900;
    transform: scale(1.2);
}
.services-subheading{
    text-align: center;
}
.services-h1{
    margin: 20px;
    margin-top: 100px;
    padding: 0;
    font-size: 25px;
    font-weight: 900;
}

@media screen and (max-width:200px){
    img{
        width: 150px;
    }
}

.intro{
    margin-top: 2px;
    margin: 10px 5px;
}

.intro-h1-wrapper{
    position: relative;
    overflow-y: hidden;
}

/* .intro-h1-container{
    position: absolute;
    inset: 0;
} */

.intro-h1-bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.intro-h1{
    padding: 15px;
    padding-top: 100px;
    font-size:30px;
    max-width: 96vw;
    word-wrap: break-word;
    font-size: 60px;
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 3px 2px 2px black;
}


/* .intro-h1-bg-img-cntainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); Adjust the opacity (last value) to control darkness
  } */

.my-name{
    color: var(--main-color);
    backdrop-filter: blur(2px);
    display: inline-block;
    font-weight: 900;
    border-radius: var(--border-radius);
    text-shadow: 5px 5px 1px white;
    max-width: 90vw;
    word-wrap: break-word;
    animation: textShadows 2s ease-in-out 3s infinite normal;
}


@keyframes textShadows {
    0%{
        text-shadow: 2px 3px 3px rgb(240, 234, 222);
    }
    25%{
        text-shadow: 2px 3px 3px black;
    }
    50%{
        text-shadow: 2px 3px 3px rgb(240, 230, 230);
    }
    75%{
        text-shadow: 2px 3px 3px rgb(248, 248, 241);
    }
    100%{
        text-shadow: 2px 3px 3px rgb(240, 234, 222);
    }
}


.more-container{
    margin: 100px 10px;
}
.photo-credit{
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}
.photo-credit a{
   color: blue;
}
.find-out-more{
    backdrop-filter: blur(5px);
    font-weight: 900;
    font-size: x-large;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 30px 0px;
    border: 5px solid var(--main-color);
    background-color: rgb(255, 255, 255,0.4);
    border-radius: var(--border-radius);
    font-weight: 900;
    color: var(--main-color);
}

#services{
    display: grid;
    gap: 30px;
    margin-bottom: 60px;
    margin:0px 10% 60px 10% ;
    font-weight: 700;
}


.services-article{
    padding: 10px;
    padding-top: 25px;
    font-size: 1rem;
}

@media screen and (min-width:700px){

.intro{
        font-size: x-large;
    } 

}

@media screen and (hover:hover){
    .find-out-more:hover{
        background-color: var(--main-color);
        color: white;
        animation: more 0.1s linear 0s 1 ;
    }
@keyframes more {
        from{
           background-clip: content-box;
        }
        to{
            background-clip: border-box;
        }
    }

    .a-btn:hover{
        transform: scale(1.1);
        background-color: var(--main-color);
        color: white;
        animation: resume 0.6s ease 0s 1;
    }
   @keyframes resume {
    0%{
        background-clip: content-box;
    }
    50%{
        background-clip: padding-box;
    }
    100%{
        background-clip: border-box;
    }
   }

   .email-link:hover{
    transform: scale(1.1);
    background-color: var(--main-color);
    color: white;
    animation: more 0.1s linear 0s 1 ;
    
}

.source-code:hover{
    transition: 0.5s;
    transform:translate(5px) ;
   }
}
@media screen and (min-width:920px){
    #services{
        grid-template-columns:1fr 1fr;
    }
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 30px;
    padding: 30px;
    border-top: 20px solid transparent;
}

.about-me-wrapper{
    font-weight: 500;
    align-self: center;
    font-weight: 700;
}

.about-article{
    transition: 1.5s;
}

.more-about{
    display: inline-block;
    margin: 1px auto;
}

.about-in-h2{
 width: 50%;

 border-bottom: 1px solid black;
}

.about-me-wrapper img{
    display: block;
    margin: 0;
}

#me{
    width: 100%;
    height: 400px;
    object-fit: contain;
    border-radius: var(--border-radius);
}
.resume-link{
    display: inline-block;
    margin-bottom: 5px;
    border: 5px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 10px;
    font-weight: 900;
    text-decoration: none;
    font-size: xx-large;
    max-width: 90vw;
    text-align: center;
    word-wrap: break-word;
}


.skill-list-container li{
    background-color: var(--main-color);
    list-style-type: none;
    width: 100px;
    padding: 10px;
    color: white;
    margin: 3px;
    font-size: large;
    border-radius: var(--border-radius);
    text-align: center;
    max-width: 95vw;
    word-wrap: break-word;
}
.skill-list-container ul{
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-list-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
 }

@media screen and (min-width:270px){
    .skill-list-container{
       flex-direction: row;
       justify-content: center;
    }
}

@media screen and (min-width:500px){
    .skill-list-container li{
       width: 200px;
    }
}

@media screen and (max-width:360px){
    .name{
       display: none;
    }
}
@media screen and (min-width:700px) {
    #me{
        width: 300px;
    }
    
    .more-about{
        margin: auto;
        display: inline;
       
    }
    .about-me-wrapper img{
        width: 300px;
        float: right;
        margin: 10px;
        padding: 20px;
    }
   
    .resume-link-container{
        display: block;
        align-self: center;
    }
}

@media screen and (min-width:900px) {
    .resume-link-container{
        margin: 0px;
    }
    .about{
        padding: 100px;
    }
}

@media screen and (min-width:1050px){
    .about{
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 0px;
    }
   
}

#project-view{
    margin-top: 30px;
    height: 20px;
}
.projects{
 padding: 25px;
 font-size: larger;
 line-height: 30px;
}

.project-btns{
    display: flex;
    margin: 0px;
}
.visit-site{
    border-color: var(--main-color);
    padding:2px 10px;
    font-size:1rem;
    font-weight: 700;
    color:var(--main-color);
    background-color: white;
    border-radius: var(--border-radius);
}

.source-code{

    color: var(--main-color);
    font-size: large ;
    font-weight: 700;
    border-width: 0px;
    background-color: white;
    margin-left: 3px;
}

.img-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
}
.img-container img{
    width:100%;
    height:100%;
    margin: 10px;
    margin-left: -14px;
}
.img-container:active{
    transform: skew(5deg,1deg);
}
a{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width:800px){
    
    .description-details{
        width: 50%;
    } 
    .description-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .project-btns{
        margin: 0px;
    }
    .source-code{
   margin-left: 20px;
    }
    .img-container{
        width: 50%;
        transition: 1.5s;
    }
    .img-container:hover{
        transform: skew(5deg,1deg);
    }
    .img-container > img{
       transform: translateY(-30px);
       object-fit: contain;
       margin-left: 10px;
    }
    .visit-site:hover{
        background-color: var(--main-color);
        color: white;
        animation: sites 0.3s ease 0s 1;
    }
   @keyframes sites {
    0%{
        background-clip: content-box;
    }
    50%{
        background-clip: padding-box;
    }
    100%{
        background-clip: border-box;
    }
   }
}


@media screen and (min-width:1000px){
    .img-container img{
      object-fit: contain;
    }
    .img-container{
        width: 50%;

    }
}

.contact-details-wrapper *{
    text-align: center;
}

.contact{
    border-top: 30px solid transparent;
    margin: 20px;
    font-size: 1rem;
    text-align: center;
   }

.contact-details-wrapper{
    display: flex;
    justify-content: center;
}

.contact-details-container{
   max-width: 500px;
}

.contact-description{
    font-weight: 900;
}
.socials-h2{
    border-bottom: 1px solid black;
}
.email-link{
    display: inline-block;
    border: 3px solid var(--main-color);
    font-size: 2rem;
    font-weight: 800;
    padding: 5px 15px;
    margin:20px 10px;
    text-decoration: none;
    color: var(--main-color);
    border-radius: var(--border-radius);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--main-color);
  }

  #up{
    font-size:xx-large;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 50px;
  }
  #up:hover{
    color: var(--main-color);
    margin-top: 10px;
    transform: scale(1.2) translateY(-4px);
    cursor: pointer;
    padding: auto 50%;
  }
  #socials img{
    border-radius: 5px;
  }
  footer img,
  #socials img {
    width: 30px;
    height: 30px;
  }
  footer a,
  #socials a {
    margin: 5px;
  }
  @media screen and (min-width: 700px) {
    footer img,
    #socials img {
      width: 50px;
      height: 50px;
    }
    footer a,
    #socials a {
      margin: 20px;
    }
  }
footer img:hover{
    transform: scale(1.2);
}

#socials img:hover{
  transform: scale(1.2);
}